[submodule "public/lib/requirejs"]
	path = public/lib/requirejs
	url = https://github.com/requirejs/requirejs.git
[submodule "php/common"]
	path = php/common
	url = https://github.com/zmiller91/php-common
[submodule "public/lib/js-common"]
	path = public/lib/js-common
	url = https://github.com/zmiller91/js-common
[submodule "public/lib/startbootstrap-creative"]
	path = public/lib/startbootstrap-creative
	url = https://github.com/BlackrockDigital/startbootstrap-creative
[submodule "public/lib/animate.css"]
	path = public/lib/animate.css
	url = https://github.com/daneden/animate.css
