<header style="background-image: url({{current.path}}); 
        background-size: {{width}}px {{height}}px; 
        background-repeat: no-repeat; 
        background-position: center;
        width: {{windowWidth}}px;
        height: {{windowHeight}}px;">
    <div>
        <div ng-show="current" class="pull-left" ng-click="carousel.previous()"
                style="height: {{windowHeight}}px; cursor: pointer;">
            <div class="carousel-nav" style="margin-top:{{windowHeight/2-30}}px;
                    margin-left: 50px; font-size: 60px; opacity: 0.5">
                <i class="fa fa-chevron-circle-left" style="
                    color:black;
                    background: white;
                    border-radius: 50%;
                    height: 1em;
                    width: 1em;
                   "></i>
            </div>
        </div>


        <div ng-show="current" class="pull-right" ng-click="carousel.next()"
                style="height: {{windowHeight}}px; cursor: pointer;">
            <div class="carousel-nav" style="margin-top:{{windowHeight/2-30}}px;
                    margin-right: 50px; font-size: 60px; opacity: 0.5">
                <i class="fa fa-chevron-circle-right" style="
                    color:black;
                    background: white;
                    border-radius: 50%;
                    height: 1em;
                    width: 1em;
                   "></i>
            </div>
        </div>
    </div>
    
</header>