<div class = "container tile-view" style="width: {{ numCols * colWidth }}px">
    <div class="row" ng-repeat="row in grid track by $index" style="margin-right: 17px">
        <div class="col-md-{{bsColSize}}" ng-repeat="img in row.images" 
             style="
                padding-left: {{ (row.colWidth - img.width)/2 }}px;
                padding-top: {{ (row.colHeight - img.height)/2 }}px;
             ">
            <img ng-click="enlarge(img)" class="tile" src="{{img.path}}" 
                style="
                    width: {{img.width}}px; 
                    height: {{img.height}}px;
                    cursor: pointer;
                " 
            />
        </div>
    </div>     
</div>