<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" ng-controller="NavCtrl">

        <!--Site Name-->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" ng-click="goto('/queue/random')" 
               style="cursor: pointer;">
                whatadesktop
            </a>
        </div>
        
        <!--Site Pages-->
        <ul ng-show="display" class="nav navbar-nav navbar-right">
            
            <!-- Reset, Save, and Remove options without tooltips -->
            <li ng-show="user.loggedIn && !tileView" style="cursor: pointer;">
                <div style="color:#777;">
                    <button ng-show="saved || deleted" class="btn" type="button" 
                            ng-click="setStatus('reset')">
                        Requeue
                    </button>
                </div>
            </li>
            
            <li ng-show="user.loggedIn && !tileView" style="cursor: pointer;">
                <div style="color:#777;">
                    <button ng-show="!saved" class="btn" type="button" ng-click="setStatus('saved')">
                        Save
                    </button>
                    <button ng-show="saved" class="btn mute" type="button" ng-click="setStatus('reset')">
                        Saved
                    </button>
                </div>
            </li>

            <li ng-show="user.loggedIn && !tileView" style="cursor: pointer;">
                <div style="color:#777;">
                    <button ng-show="!deleted" class="btn" type="button" ng-click="setStatus('deleted')">
                        Remove
                    </button>
                    <button ng-show="deleted" class="btn mute" type="button" ng-click="setStatus('reset')">
                        Removed
                    </button>
                </div>
            </li>
                            
            <!-- Saved and Remove options, with tooltips -->
            <li ng-show="!user.loggedIn && !tileView" data-toggle="tooltip" data-placement="bottom"
                title="Login in to save images">
                <div>
                    <button class="btn mute" type="button" ng-click="">
                    Save
                    </button>
                </div>
            </li>
            
            <li ng-show="!user.loggedIn && !tileView" data-toggle="tooltip" data-placement="bottom"
                title="Login in to remove images from queue">
                <div>
                    <button class="btn mute" type="button" ng-click="">
                    Remove
                    </button>
                </div>
            </li>
            
            <!--Help-->
             <li style="cursor: pointer;">
                <div>
                    <button class="btn" type="button" 
                            ng-click="help()">
                        Help
                    </button>
                </div>
            </li>
                        
            <!--Link-->
            <li>
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Link
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="input-group" style="padding-left:5px; padding-right:5px;">
                        <input id="image-link" type="text" class="form-control" 
                               style="width: 300px;" spellcheck="false"
                               value="{{ currentLink }}">
                        <span class="input-group-addon" ng-click="copyLink()"
                              style="cursor: pointer;"
                              data-toggle="tooltip" data-placement="bottom"
                              title="Copy">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
            </li>
            
            <!--Download-->
            <li ng-show="!tileView">
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Download
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                        <a ng-repeat="c in current track by $index" 
                                ng-click="download($index)" style="cursor: pointer;">
                            {{c.width}}x{{c.height}}
                        </a>
                    </li>
                  </ul>
                </div>
            </li>

            <!--Queues-->
            <li>
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Queues
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" style="cursor: pointer;">
                    <li><a ng-click="goto('/queue/random')">Random</a></li>
                    <li><a ng-click="goto('/queue/new')">New</a></li>
                    <li><a ng-click="goto('/queue/popular')">Popular</a></li>
                    <li><a ng-click="goto('/queue/unpopular')">Unpopular</a></li>
                  </ul>
                </div>
            </li>
            
            <!--User-->
                <li>
                    <div class="dropdown" ng-controller="UserCtrl">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            {{user.name ? user.name : "User"}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="cursor: pointer;">
                            <li><a ng-show="!user.loggedIn" ng-click="register()">Register</a></li>
                            <li><a ng-show="!user.loggedIn"  ng-click="login()">Login</a></li>
                            <li><a ng-show="user.loggedIn"  ng-click="goto('/saved')">Saved</a></li>
                            <li><a ng-show="user.loggedIn"  ng-click="goto('/removed')">Removed</a></li>
                            <li><a ng-show="user.loggedIn"  ng-click="logout()">Log Out</a></li>
                            
                            <!-- Saved and Deleted options, with tooltips -->
                            <li ng-show="!user.loggedIn" data-toggle="tooltip" 
                                data-placement="left" style="cursor: default;"
                                title="Login to view saved images">
                                <a style="color:#777; background-color: #f5f5f5;">
                                    Saved
                                </a>
                            </li>
                            <li ng-show="!user.loggedIn" data-toggle="tooltip" 
                                data-placement="left" style="cursor: default;"
                                title="Login to view removed images">
                                <a style="color:#777; background-color: #f5f5f5;">
                                    Removed
                                </a>
                            </li>
                            
                        </ul>
                        
                    </div>
                </li>
                
        </ul>
    </div>
                        
    <!-- Initialize tooltips -->
    <script>
        $('[data-toggle="tooltip"]').tooltip()
    </script>
</nav>

<div id="tiles" ng-controller="NotificationCtrl"></div>
<div id="carousel" ng-controller="CarouselCtrl"  ng-show="visible" carousel resize  
     ng-keydown="keypress($event)"  tabindex="0"></div>

<div id="tiles" ng-controller="TileCtrl" tile-view ng-show="visible"></div>

